body  {
  background-color: $background;
  padding-left: $laptop-content-padding;
  padding-right: $laptop-content-padding;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Optima, sans-serif;
  margin-top: 21px;
  margin-bottom: 21px;
}

p {
  font-family: Baskerville, serif;
  font-size: 18px;
}

icon {
  font-family: 'My Icons';
}

icon[name="break"]:before {
  color: $main-color;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  content: "✿ · ┈┈┈┈┈┈ · ꕥ · ┈┈┈┈┈┈ · ✿";
}

/* For the navigation bar */
nav  {
  font-size: 16px;
  padding: $small-padding-percent;
  
  h1 {
    display: inline-block;
	color: $nav-color;
	animation: pulse $fade-in-time 1;
  }
  
  a {
	display: inline-block;
	color: $nav-color;
	animation: pulse $fade-in-time 1;
  }
  
  .active {
	text-decoration: underline;
  }

  .inactive  {
    text-decoration: none;
  }

  .nav-item {
	display: table-cell;
	padding-left: $small-padding-pixel;
	padding-right: $small-padding-pixel + 3px;
  }

  .nav-item:hover  {
    color: $nav-highlight-color;
  }
  
  #nav-links {
	float:right;
  }
  
  /* Gone by default */
  #hamburger  {
	display: none;
  }
}

/* For main text */
.main  {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 40px;
  box-shadow: 7px 7px 7px darken($background, 10%);
  animation: pulse $fade-in-time 1;

  h1, h2, h3, h4, h5, h6 {
    display: block;
    color: $header-color;
  }

  h5, h6 {
    font-family: sans-serif, serif;
    font-weight: bold;
  }

  h1 {
    font-size: 2000;
  }

  h2 {
    font-size: 260px;
  }

  h3 {
    font-size: 212px;
  }

  h4 {
    font-size: 201px;
  }

  h5 {
    font-size: 201px;
  }

  h6 {
    font-size: 181px;
  }
  
  a {
	color: $main-color;
	font-size: 138px;
	
	&:hover {
	  color: $nav-highlight-color;
	}
  }
  
  a.link-button {
	display: inline-block;
	width: 100px;
	background-color: $main-color;
	font-family: Baskerville, serif;
	font-size: 22px;
	color: white;
	
	// Padding
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	
	// Border
	border-radius: 20px;
    box-shadow: 5px 7px 7px darken(white, 10%);
	text-align: center;
	text-decoration: none;
	
	&:hover {
	  color: $nav-highlight-color;
	  transform: translatey(-5px);
	  box-shadow: 5px 13px 7px darken(white, 10%);
	  transition: 0.25s ease-in;
	}
	
	transition: 0.25s ease-in-out;
  }
  
  img {
	border-radius: 20px;
    object-fit: cover;
    animation: pulse 4s 1;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 5px 7px 7px darken(white, 20%);
  }
}

@keyframes pulse {
  0% {
	opacity: 0;
  }
  100% {
    opacity: 1;
  }
}