/* Mobile overrides */
@media screen and (max-width: 1000px) {
  body {
	padding-left: $mobile-content-padding;
	padding-right: $mobile-content-padding;
  }

  icon[name="break"]:before {
	font-size: 16px;
  }
  
  nav {
	padding-left: $small-padding-percent;
	padding-right: $small-padding-percent;
	padding-top: $small-padding-percent;
	padding-bottom: 0px;
  
    .nav-item {
	  display: block;
      color: $nav-color;
	  text-align: center;
	}
  
    #nav-links.closed{
	  display: none;
	}
	
	#nav-links.open {
	  position: absolute;
      right: $mobile-content-padding + $small-padding-percent - 1%;
	  display: block;
	  background-color: white;
	  width: 150px;
	  margin-top: -15px;
	  border-style: solid;
	  border-width: 2px;
	  border-color: darken($background, 10%);
	  border-radius: 10px;
	  box-shadow: 5px 5px 5px darken($background, 10%);
		
	  opacity: 1;
	  transition: opacity 0.5s ease, visibility 0.5s ease;
	}
	
	#hamburger {
	  display: block;
      float: right;
	  width: $small-padding-pixel;
	  height: $small-padding-pixel;
	  stroke-miterlimit: 10;
	  stroke-width: 2px;
      background-size: cover; 
	  background-position: center center;
	  padding-top: $small-padding-pixel + 5px;
	  
	  animation: pulse $fade-in-time 1;
	  transition: fill 0.25s ease, stroke 0.25s ease;
	
	  &.closed {
	    fill: $nav-color;
	    stroke: $nav-color;
	  }
	  
	  &.open {
	    fill: $nav-highlight-color;
	    stroke: $nav-highlight-color;
	  }
	}
  }
}

@media screen and (max-width: 525px) {
  .main {
	  a.link-button {
	    margin-left: 6px;
	    margin-right: 6px;
      }
  }
}