// colors
$blue: #1fff57 !default;
$lavender: #1d56b8 !default;
$teal: #6d4a85 !default;
$cream: #686663 !default;
$salmon: #e61422 !default;
$hot-pink: #050102 !default;

$main-color: $salmon;
$background: lighten($main-color, 15%);
$nav-color: darken($main-color, 5%);
$nav-highlight-color: darken($main-color, 50%);
$header-color: $main-color;

// padding
$laptop-content-padding: 20%;
$mobile-content-padding: 5%;
$small-padding-percent: 2%;
$small-padding-pixel: 20px;

// sizes
$nav-item-width: 20px;

// times
$fade-in-time: 1s;